# Include important files
include README.md
include LICENSE
include pyproject.toml

# Include data files
recursive-include supreme2l *.lock
recursive-include supreme2l *.json
recursive-include supreme2l *.ps1

# Exclude .cmd files (antivirus false positives)
global-exclude *.cmd

# Exclude development files
global-exclude *.pyc
global-exclude __pycache__
